node_modules
/.vscode/
lib
/scene/package-lock.json
/scene/bin/
/scene/node_modules/
/server/src/rooms/env.ts
/server/lib/
/server/arena.env
/server/development.env
/serverAuth/dist/
/serverAuth/node_modules/
/serverAuth/package-lock.json
/threejs/node_modules/
/threejs/dist/
/threejs/package-lock.json
/.idea/.gitignore
/.idea/dataSources.xml
/.idea/gameCenter.iml
/.idea/modules.xml
/.idea/vcs.xml
/serverAuth/src/env.ts
